*.o
.DS_Store
.*.swp
/env
/dl
/.config.old
/bin*
/build_dir
/staging_dir
/tmp
/logs
/feeds/*
!/feeds/lucics
/feeds.conf
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
.config
/files/etc/git-version
git-src
